/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

#wall #tag-2 {
    display: none;
}

#wall #tag-3 {
    display: none;
}

#partent #tag-4 {
    display: none;
}

#partent #tag-5 {
    display: none;
}

#partent #tag-6 {
    display: none;
}

#partent #tag-7 {
    display: none;
}